
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

}



/********** general*******/

:root{
    
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);
    --paragraphs: hsla(0, 0%, 100%, 0.75);
    --background-headings-buttons: hsl(0, 0%, 95%);

}


body{
    background-color: var(--background-headings-buttons );
    font-size: 15px;
    font-family:"Lexend Deca", sans-serif ;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-items: center;
    min-height: 100vh;
    margin: 1.5rem;
    font-weight: 400;

}


 main{
        max-width: 900px;
        margin: auto;
        margin-bottom: 2rem;
        
     }

     .container.section{
        padding: 40px;
     }
    .container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        border-radius: 1rem;
        overflow: hidden;

    }
.container.sedans{
    background-color: var(--Bright-orange);

}
.container.suvs{
    background-color: var(--Dark-cyan);

}
.container.luxury{
    background-color: var(--Very-dark-cyan);
}
.container.img{
    margin: 2rem;
}
.container.title{
    color: var(--background-headings-buttons);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 40px;
    margin-bottom: 2rem;

}

















/******** media quary*******/